{% extends 'layout.html' %}
{% block content %}
    <!-- 新規と編集で共通のテンプレート -->
    <h1>{{ object|yesno:'Updata,Create'}} of Service List</h1>
 
    <form action='' method='post'>
        {% csrf_token %}                <!-- このフォームが正式であることを証明する -->
        {{ form.as_p }}                 <!-- 全ての項目を表示 -->
        <button type='submit' class='submit btn btn-danger'>{{ object|yesno:'Updata,Create'}}</button>
    </form>
    <div>
        <!-- JavaScriptで戻る機能を実装 -->
        <a href='JavaScript:history.back()' class='btn btn-secondary my-3'>Back</a>
    </a></div>
{% endblock %}